<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
               {{>header}}
               <p>This site was created for learning it Uses data from mapbox.com and darksky.nry</p>
        <img class="portrait" src="./img/robot.png" alt="" srcset="">
     
        </div>
        {{>footer}}
    </body>
</html>